/*Start Header*/
body {
	padding: 0;
	margin: 0;
}
.main-header {
	width: 100%;
	display: flex;
	background-color: #000;
}
.zone {
	color: #183c28;
	text-decoration: underline;
}
.logo {
	flex: 1;
}
.title {
	flex: 1;
	margin: auto;
}
.navigation-bar {
	flex: 1;
}
.list-items {
	display: flex;
	margin-top:47px;
}
.img1 {
	width: 130px;
	height: 100px;
	flex: 1;
	margin-left: 10px;
	margin-top: 10px;
}
.atag {
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 19px;
	margin-left: 10px;
	transition: 0.3s ease;
}
.atag:hover {
	color: #183c28;
}
.sitetitle {
	padding: 0;
	margin: 0;
	color: white;
	font-size: 40px;
	font-family: montserrat;
}
/*End Header*/

/*Start Main Body*/
.main-container {
	background-image: url("../images/semesters-bg-image.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content:center;
	margin: 30px auto 30px auto;
}
.cont1 {
	flex-basis: 20%;
}
.cont2 {
	flex-basis: 20%;
}
.cont3 {
	flex-basis: 20%;
}
.sems {
	padding: 75px;
	text-align: center;
	font-size: 25px;
}
a {
	color: #808080;
	text-decoration: none;
}
/*End Main Body*/

/*FOOTER STARTS*/
img {
	padding: 0;
	margin: 0;
	margin-left: 90px;
	width: 90px;
	height: 79px;
}
.home {
	margin-top: 30px;
}
.zone {
	color: #183c28;
	text-decoration: underline;
}
.footer-title {
	color: #FFF;
	padding: 0;
	margin: 0;
	font-size: 135%;
	margin-left: 75px;
}
h2 {
	color: #183c28;
	padding: 20px;
	margin-left: 20px;
	font-size: 150%;
}
p {
	color: #fff;
	padding: 10px;
	margin-left: 33px;
	font-size: 17px;
}
.fatag {
	text-decoration: none;
	color: #fff;
	padding: 3px;
	font-size: 18px;
}
.fatag:hover {
	font-weight: bold;
}
ul {
	list-style: none;
}
.litems {
	margin-top: 9px;
}
.footer {
	display: flex;
	align-items: flex-start;
	height: 400px;
	background-color: #000;
}
.ftr {
	flex: 1;
}
.logoandtitle {
	margin-top: 50px;
}
.copyright {
	box-sizing: border-box;
	margin: 0;
	font-size: 90%;
	margin-top: 10px;
	opacity: 0.7;
}
/*FOOTER ENDS*/
