body {
	background-color: black;
}
img {
	padding: 0;
	margin: 0;
	margin-left: 90px;
	width: 90px;
	height: 79px;
}
.home {
	margin-top: 30px;
}
.zone {
	color: #183c28;
	text-decoration: underline;
}
h1 {
	color: #FFF;
	padding: 0;
	margin: 0;
	font-size: 135%;
	margin-left: 75px;
}
h2 {
	color: #183c28;
	padding: 20px;
	margin-left: 20px;
	font-size: 150%;
}
p {
	color: #fff;
	padding: 10px;
	margin-left: 33px;
	font-size: 17px;
}
a {
	text-decoration: none;
	color: #fff;
	padding: 3px;
	font-size: 18px;
}
a:hover {
	font-weight: bold;
}
ul {
	list-style: none;
}
li {
	margin-top: 9px;
}
.footer {
	display: flex;
	align-items: flex-start;
}
.ftr {
	flex: 1;
}
.logoandtitle {
	margin-top: 50px;
}
.copyright {
	box-sizing: border-box;
	margin: 0;
	font-size: 90%;
	margin-top: 10px;
	opacity: 0.7;
}
	